@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/

  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

a:hover {
  opacity: 0.7;
}

/*------SUZUKA DESIGN portfolio----------*/

/*共通*/
h2 {
  font-family: "Yeseva One", cursive;
  color: #132853;
}

/*header*/

.header {
  width: 100%;
}

.header__wrap {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 999;
}

.header__logo {
  width: 110px;
}

.header__logo img:hover {
  opacity: 0.7;
}

/*グローバルナビ*/
.pc__nav ul {
  display: flex;
  align-items: center;
}

.pc__nav ul li {
  width: 105px;
  margin-left: 30px;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  text-align: end;
}

.pc__nav li a {
  position: relative;
  padding-bottom: 7px;
}

.pc__nav li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.pc__nav li a:hover::after {
  transform: scale(1, 1);
}

.sp__btn,
.sp__nav {
  display: none;
}

.pc__nav li a:hover {
  opacity: inherit;
}

/* グローバルナビ ここまで*/

.header__img {
  text-align: center;
  box-sizing: border-box;
}

.header__img img {
  width: 1200px;
  height: 520px;
  object-fit: cover;
}

.header__title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-110%) translateX(-50%);
  letter-spacing: 0.08em;
  width: 100%;
}

.header__title p {
  font-family: "Yeseva One", cursive;
  font-size: 33px;
  color: #fff;
  background-color: transparent;
  text-shadow: 3px 3px 5px #808080;
  z-index: 998;
}

header {
  margin-bottom: 120px;
}

/*main*/

/*about*/
.about {
  max-width: 1100px;
  margin: 0 auto 80px;
}

.about__content {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 60px;
}

.about__img {
  width: 52%;
}

.about__desc img {
  margin-left: -90px;
  margin-top: -50px;
  margin-bottom: -20px;
}

.about__desc h2 {
  font-size: 80px;
  letter-spacing: 0.3em;
  padding-bottom: 50px;
}

.about__desc h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.3em;
  line-height: 2rem;
  padding-bottom: 50px;
}

.about__desc p {
  font-size: 16px;
  letter-spacing: 0.25em;
  line-height: 1.75rem;
}

/*about ボタン*/

/*SKILLS*/
.skills {
  margin: 0 auto 20px;
  background: #f2f2f2;
}

.skills__ttl h2,
.works__ttl h2 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 0.3em;
  padding-bottom: 30px;
  background: #f2f2f2;
}

.skills__ttl,
.works__ttl {
  text-align: center;
}

.skills__ttl img,
.works__ttl img {
  width: 220px;
  margin-bottom: -50px;
  margin-left: -300px;
}

.skills__ttl h3,
.works__ttl h3 {
  color: #132853;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.3em;
  line-height: 2rem;
  padding-bottom: 50px;
  background: #f2f2f2;
}

.skills__content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 40px;
  justify-content: space-between;
}

.skills__desc {
  padding: 0 30px;
}

.skills__desc img {
  width: 240px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.skills__desc h4 {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 20px 0 10px;
  /*border-bottom: 1px solid #333; */
}

.skills__desc p {
  text-align: center;
  line-height: 1.25rem;
  letter-spacing: 0.2em;
  border-top: 1px solid #333;
  padding-top: 10px;
  background: #f2f2f2;
}

.skills__foot p,
.works__ttl p {
  letter-spacing: 0.28em;
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 80px;
  background-color: #f2f2f2;
}

/*works*/
.works {
  margin: 0 auto 140px;
}

.works h2,
.works__ttl h3,
.works__ttl p {
  background: #fff;
}

.works h2 {
  padding-bottom: 30px;
}

.works__ttl h3,
.works__ttl p {
  padding-bottom: 40px;
}

.works__ttl img {
  width: 370px;
  margin-bottom: -50px;
  margin-left: -180px;
}

.works__slider {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.works__slider img {
  max-width: 400px;
  object-fit: cover;
  margin: 0 auto;
}

.works__content {
  /* max-width: 1366px; */
  margin: 0 auto;
}

.slick-img img {
  transform: scale(0.85);
}

.works__slider .slick-center img {
  transform: scale(1);
}

/*スライダー実装*/

.slick-arrow {
  display: block;
  position: absolute;
  padding: 0;
  width: 20px;
  height: 38px;
  z-index: 1;
}

/* 共通設定 */

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.slick-next::after,
.slick-prev::after {
  width: 20px;
  height: 20px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

/* next */

.slick-next {
  right: 30px;
}
.slick-next::after {
  right: 4px;
  transform: rotate(45deg);
}

/* prev */

.slick-prev {
  left: 30px;
}
.slick-prev::after {
  left: 4px;
  transform: rotate(-135deg);
}

.slick-dots li button:before {
  margin-top: 20px !important;
}

/*contact */
.contact {
  margin-bottom: 100px;
}

.contact__ttl {
  text-align: center;
}

.contact__ttl h2 {
  font-size: 80px;
  letter-spacing: 0.2em;
  margin-bottom: -40px;
}

.contact__ttl img {
  color: #333;
  width: 220px;
  margin-bottom: -50px;
  margin-left: -400px;
}

.contact__info {
  max-width: 850px;
  margin: 0 auto;
}

.contact__btn {
  background-color: #f2f2f2;
  padding-top: 70px;
}

.contact__info p {
  background-color: #f2f2f2;
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 1.87rem;
  padding: 30px 0 40px;
}

/*お問い合わせボタン*/

.contact__btn a {
  border: 1.5px solid #808080;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 20px 20px 20px 16px;
  color: #333;
  letter-spacing: 0.2em;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.contact__btn a:hover {
  opacity: inherit;
  background: #fff;
  color: #333;
}

.contact__btn a:after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-70%);
  position: absolute;
  top: 50%;
  right: 25px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

/*
.contact__btn a:hover:after {
  border-color: #fff;
}*/

/* footer */
.footer {
  max-width: 800px;
  margin: 0 auto 40px;
}

.footer__logo {
  width: 130px;
  margin: 0 auto 40px;
}

.footer__logo img {
  padding-right: 15px;
}

.footer__info {
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

.footer p {
  text-align: center;
  font-size: 14px;
  color: #808080;
  letter-spacing: 0.05em;
}

.footer__item img {
  width: 23px;
  height: 23px;
  box-sizing: border-box;
}

.footer__item {
  display: flex;
}

.footer__item p {
  color: #333;
  margin-top: 3px;
  margin-right: 18px;
}

.footer__item img {
  margin: 0 8px;
}
